/* font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
}

html, body{
    font-family: Roboto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F8FAFC;
    color: #64748B;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #312E81;
    color: #F8FAFC;
    margin-bottom: 2rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}

main section {
    width: 60%;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(67, 56, 202, .05), 0 10px 20px rgba(67, 56, 202, .2);

    display: flex;
    flex-direction: column;
}

.add-book, .search-book {
    align-items: center;
}

form {
    width: 100%;
}

form div{
    display: flex;
    flex-direction: column;
}

input[type=text], input[type=number] {
    font-family: Roboto;
    color: #64748B;
    background: #FFFFFF;
    border: 1px solid #E2E8F0;
    border-radius: 8px;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 8px;
    font-size: 16px;
}

.bookFormIsComplete {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 1rem;
}

input[type=text]:focus, input[type=number]:focus {
    border: 1px solid #4F46E5;
    box-shadow: 0 5px 5px rgba(79, 70, 229, 0.1);
    outline: none;
    font-size: 17px;
    transition: ease 0.3s;
}

.search-book{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#searchBook {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

#searchBook > input {
    width: 100%;
    margin-bottom: 0;
}

#searchBook > button {
    max-width: 30%;
}

.container-search {
    width: 100%;
}

button {
    background-color: #4F46E5;
    border: 1px solid #E2E8F0;
    width: 100%;
    height: 2.5rem;
    border-radius: 8px;
    
    font-family: Roboto;
    font-size: 15px;
    color: #FFFFFF;

    box-shadow: 0 5px 10px rgba(79, 70, 229, 0.3);
}

button:hover {
    background-color: #4338CA;
    transition: ease-in-out 200ms;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px -1px rgba(79, 70, 229, 0.2);
}

.button-list {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.button-complete{
    background-color: #10B981;
    color: #FFFFFF;

    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.button-complete:hover{
    background-color: #059669;
}

.button-delete {
    background-color: #E11D48;
    color: #FFFFFF;

    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.button-delete:hover{
    background-color: #BE123C;
}

.button-edit{
    background-color: #0EA5E9;
    color: #FFFFFF;

    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.button-edit:hover{
    background-color: #0284C7;
}

.shadow {
    box-shadow: 0 2px 5px rgba(67, 56, 202, .05), 0 4px 8px rgba(67, 56, 202, .2);
}

#incompleteBookList, #completeBookList {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* Popup container */
.section-edit-form {
    display: none;
}
.popup-container {
    position: fixed;
    background-color: rgba(197, 189, 189, 0.7);
    margin: 0;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-edit-container {
    padding: 20px;
    width: 500px;
    height: auto;
    background-color: white;
    border-radius: 20px;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-pupup-button {
    background: none;
    border: none;
    width: fit-content;
    padding: none;
    color: #4338CA;
    box-shadow: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.close-pupup-button:hover{
    background: none;
    transition: ease-in-out 200ms;
    transform: none;
    box-shadow:none;
}

.editBookFormIsComplete{
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 1rem;
}

.aler-section {
    display: none;
}

.alert-container {
    position: fixed;
    background-color: rgba(197, 189, 189, 0.7);
    margin: 0;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-card {
    padding: 20px;
    width: 500px;
    height: auto;
    background-color: white;
    border-radius: 20px;
}

/* search container */
main section #container-search {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media screen and (max-width: 1024px) {
    main{
        padding: 2rem;
    }
    main section {
        width: 100%;
    }
}